<p>Album Name: <%=@album.name%></p>
<p><a href="<%=@album.id%>/edit">Edit/delete album</a></p>
<p><a href="../artists/<%=@album.artist_id%>">Artist: <%=@artist.name%></a></p>
<p>Album ID: <%=@album.id%></p>